* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
    
body {
	font-size: 100%;
	font-weight:200;
	letter-spacing: .07em;
	color:#757575;
	background-color:#262626;
}

div {
	margin-bottom: 5px;
}

.col {
	margin-right: 25px;
	margin-bottom: 10px;
}

.panel {
	padding: 1em;
	margin: 0 auto;
	margin-bottom: 5px;
	width: 260px;
	border-style: solid;
	border-width: 1px;
	border-color: #333333;  /*1F1F1F*/
	background-color:#292929;
}

.titles {
	display: block;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 1.3em;
	font-weight: 500;
	text-align: center;
	color:#fff;
}


.subtitles {
	display: block;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 1.1em;
	font-weight: 500;
	text-align: center;
	color:#999999;
}

button {	
	height: 24px;
	width: 100%;
	font-size: 1.1em;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid;
	border-color: #1F1F1F;
	border-radius: 2px;
	color: #0288D1;
	background-color: #1F1F1F;
}

button.dropdown-toggle {
	font-size: 1.1em;
	/*font-weight: bold;*/
	color: #CCC;
	background-color:#4D4D4D;
}


button.close {
	font-size: 1.2em;
	width: 10%;
	float: right;
	/*font-weight: bold;*/
	/*color: #CCC;*/
	/*background-color:#4D4D4D;*/
}


/* SUBMIT */

#submit {
	background-color: #262626;
	border-style: none;
	margin-bottom: 20px;
}









